.App {
    background-color: #282c34;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
  }
  
  .login-button {
    width: 200px;
    height: 40px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    opacity: 0.8;
  }

  .btn-google {    
    color: white;
    background-color: #ea4335;
  }
  .btn-yahoo {    
    color: white;
    background-color: #400090;
  }
  
  .login-button:hover, input[type='submit']:hover {
    opacity: 1;
  }
  
  .booklist {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
    padding-bottom: 6px;
  }
  
  .image {
    width: 100px;
    height: 150px;
  }

  label {
    color: rgb(155, 155, 155);
  }
  
  h3,
  h1 {
    color: white;
  }

  button[type='submit'] {
    margin-top: 5px;
    height: 30px;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: #1978e4;
    font-weight: bold;
    opacity: 0.8;
  }